/* Scrollbar para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 10px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2c74f #111;
}

/* Emojis mas tono pastel */

.icon {
  opacity: 0.5;  
}

/* Botones RRSS */ 

.social-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-buttons a {
  color: #e2c74f;
  font-size: 24px;
  transition: transform 0.2s, color 0.2s;
}

.social-buttons a:hover {
  transform: scale(1.2);
  color: #fff;
}

/* Avatar y tooltip */ 

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #e2c74f;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Manita al pasar por encima */
}

.tooltip {
  visibility: hidden;
  background-color: #e2c74f;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  bottom: 105%; /* Coloca el tooltip encima del avatar */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.avatar-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

